<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qw.user.mapper.UserAddressesMapper">
<update id="updateUserAddress">
        update user_addresses <set>
    <if test="contactName!=null and contactName!=''">contact_name=#{contactName},</if>
    <if test="contactPhone!=null and contactPhone!=''">contact_phone=#{contactPhone},</if>
    <if test="province!=null and province!=''">province=#{province},</if>
    <if test="city!=null and city!=''">city=#{city},</if>
    <if test="district!=null and district!=''">district=#{district},</if>
    <if test="detail!=null and detail!=''">detail=#{detail},</if>
    <if test="lng!=null">lng=#{lng},</if>
    <if test="lat!=null">lat=#{lat},</if>
    <if test="isDefault!=null">is_default=#{isDefault},</if>
</set> where id=#{id} and user_id=#{userId}
</update>
</mapper>
