<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qw.marketing.mapper.CouponsMapper">
<select id="getCouponsByStatus" resultType="com.qw.marketing.entity.UserCoupons">
    select * from user_coupons <where>
    <if test="status!=null">and status=#{status}</if>
    and user_id=#{userId}
</where>
</select>
</mapper>
